@font-face {
    font-family: barlow;
    src: url(https://coolors.co/font/barlow);
    font-weight: bold;
}

body {
    background-color: #dde5b6;
    color: #75893F;
    text-align: center;

}

.nav, h1 {
    width: 100%;
    background-color: #ffe8d6;
    overflow: auto;
    float: left;
    padding: 5px;
    font-size: 17px;
    text-align: left;
}

button {
    background-color:#f0ead2;
    margin-left: 2%;
    margin-right: 1%;
}

